<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <!--message 표시-->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
            <strong>{{ message.tags }}</strong>
            <ul><li>{{ message.message }}</li></ul>
        {% endfor %}
    </div>
    {% endif %}
    <!--리뷰-->
    <!--
    <h2 class="border-bottom py-2 text-danger">{{ longtermadmin.adminNm }}후기 내용</h2>
    -->
    <h2 class="border-bottom py-2 text-danger">후기 내용</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ review.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ review.user.username }}</div>
                    <div>{{ review.createDate }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3">
        {% if request.user == review.user %}
            <a href="{% url 'member:review_modify' review.id %}"
               class="btn btn-primary">후기 수정</a>
            <a href="javascript:void(0)" class="delete btn btn-primary"
               data-uri="{% url 'member:review_delete' review.id %}">후기 삭제</a>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}
</body>
</html>