{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- 개발자 CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>SilverScore</title>
</head>
<body>
<!--내비게이션바-->
{% include "navbar.html" %}
<!--기본 템플릿 안에 삽입될 내용 Start-->
{% block content %}
{% endblock %}
<!--기본 템플릿 안에 삽입될 내용 End-->
<!-- 먼저 jQuery 자바스크립트 적용-->
<script src="{% static 'jquery-3.6.3.min.js' %}"></script>
<!--bootstrap 자바스크립트 적용-->
<script src="{% static 'bootstrap.min.js' %}"></script>
{% block script %}
{% endblock %}
<!--자바스크립트 End-->
</body>
</html>